*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0px;
    padding: 0px;
    background-color:lightgray;
}
header{
    background:black;
    text-align: center;
    font-size: 25px;
    color: white;
    padding: 0px;
}
footer{
    background:black;
    text-align: center;
    color: white;
    padding: 10px;
    bottom: 0px;
    position: fixed;
    width: 100%;
    height: 30px;
    line-height: auto;
}
/*Selector por ID*/
#contenido{
    border: 2px solid black;
    padding: 30px;

}
#contenido table{
    margin: auto;
}
#contacto{
    position: center;
    width: 40%;
    height: 40%;
    text-align: right;
    padding: 0px;
    margin-left: 30%;
    margin-right: 30%;
}
#contacto table{
    margin: auto;
}
#imagen {
    margin-left: 30%;
    margin-top: 2%;
    margin-block-end: 2%;
}
#foto{
    margin-bottom: 90px;
    margin-top: 30px;
    margin-left: 0%;
    text-align: right;
}
#fotos{
display: inline-block;
text-align: center;
}
#descripcion{
    font-style:inherit;
    text-decoration:initial;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}
#menu {
    background-color:lightcoral;
    text-align: left;
    padding: 0%;
    width: 100%;
    margin-left: 0%;
}
#formacion{
    text-align: center;
    font-family: 'Courier New', Courier, monospace; 
}
#formacion h{
    text-align: center;
    font-family: 'Courier New', Courier, monospace; 
}
#formacion h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace; 
}
#formacion p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace; 
}
#menu ul li {
    display: block;
    float: left;
    text-align: center;
    border-right:black 0.5% solid;
    border-left: black 0.5% solid;
    width: 25% ;
    
}
#menu ul li a {
    display: block;
    padding: 15px;
    color:white;
    background-color: lightslategrey;
}
#menu ul li:hover {
    background:black;
    cursor: pointer;
}
#menu ul li:hover a{
    color: black;
}
/*Selector por clase*/
.clearfix {
    float: none;
    clear: both;
}
.subTitulo{
    text-align: center;
    color: grey;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*Selector por atributo*/
#contenido form{
    border: 5px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}
#contenido form *{
    display: inline-block;
}
#contacto form {
    border: 5px solid black;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 70px;
}
#contacto form  *{
    display: inline-table;
}
input[type="text"], select{
    margin-bottom: 15px;
    padding: 10px;
    width: 300px;
}
select{
    width: 350px;
}
input[type="submit"],button{
    background: black;
    color: white;
    padding: 15px;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid black;
    cursor: pointer;
}